@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  color: #aaaaaa;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}

header.header .container.header-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
}

header.header .container.header-container .nav .logo {
  line-height: 0;
}

@media screen and (max-width: 991px) {
  header.header .container.header-container .nav .menu {
    display: none;
  }
}

header.header .container.header-container .nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding-left: 0;
}

header.header .container.header-container .nav .menu ul li {
  text-transform: uppercase;
  margin-right: 70px;
  line-height: 0;
}

header.header .container.header-container .nav .menu ul li a {
  text-decoration: none;
  color: inherit;
}

header.header .container.header-container .nav .menu ul li a.active {
  color: red;
}

header.header .container.header-container .nav .menu ul li:last-child {
  margin-right: 0;
}

header.header .container.header-container .nav .menu.mobile {
  display: none;
  opacity: 0;
  left: 121px;
  background-color: #f1f1f1;
  position: absolute;
  top: 35px;
  right: 121px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: -1;
}

header.header .container.header-container .nav .menu.mobile ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header.header .container.header-container .nav .menu.mobile ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 15px auto;
}

header.header .container.header-container .nav .menu.mobile.menu-active {
  display: block;
  opacity: 0.5;
}

header.header .container.header-container .nav .menu-icon {
  display: none;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 991px) {
  header.header .container.header-container .nav .menu-icon {
    display: block;
  }
}

header.header .container.header-container .nav .menu-icon .line {
  height: 1px;
  width: 30px;
  background-color: #60606e;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header.header .container.header-container .nav .menu-icon .line:nth-child(2) {
  margin: 7px 0;
  width: 15px;
}

header.header .container.header-container .nav .menu-icon .line:nth-child(3) {
  width: 20px;
}

header.header .container.header-container .nav .menu-icon.active-menu-icon .line {
  width: 30px;
}

header.header .container.header-container .fixed {
  position: fixed;
  top: 0;
  z-index: 9999;
  -webkit-animation-name: show_menu;
          animation-name: show_menu;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  background-color: #e6e6e6;
  opacity: 0.7;
  color: #000;
  font-weight: bold;
  height: 90px;
}

@-webkit-keyframes show_menu {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show_menu {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

header.header .container.header-container .brand {
  text-align: center;
  padding-top: 230px;
  padding-bottom: 210px;
}

@media screen and (max-width: 1440px) {
  header.header .container.header-container .brand {
    padding-top: 180px;
    padding-bottom: 160px;
  }
}

@media screen and (max-width: 1199px) {
  header.header .container.header-container .brand {
    padding-top: 180px;
    padding-bottom: 160px;
  }
}

@media screen and (max-width: 991px) {
  header.header .container.header-container .brand {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (max-width: 576px) {
  header.header .container.header-container .brand {
    padding-top: 100px;
    padding-bottom: 130px;
  }
}

header.header .container.header-container .brand h1 {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  line-height: 100px;
  color: #000;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  header.header .container.header-container .brand h1 {
    font-size: 50px;
    line-height: 80px;
  }
}

@media screen and (max-width: 576px) {
  header.header .container.header-container .brand h1 {
    font-size: 42px;
    line-height: 60px;
  }
}

header.header .container.header-container .brand p {
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  header.header .container.header-container .brand p {
    width: 60%;
  }
}

@media screen and (max-width: 991px) {
  header.header .container.header-container .brand p {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  header.header .container.header-container .brand p {
    width: 100%;
  }
}

main.main .block-title {
  font-family: "Playfair Display";
  font-size: 36px;
  color: #000;
  padding-top: 25px;
}

@media screen and (max-width: 1440px) {
  main.main .block-title {
    padding-top: 15px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 1199px) {
  main.main .block-title {
    padding-top: 10px;
  }
}

@media screen and (max-width: 991px) {
  main.main .block-title {
    text-align: center;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  main.main .block-title {
    text-align: center;
    margin-bottom: 15px;
  }
}

main.main section.intro {
  margin-bottom: 230px;
}

@media screen and (max-width: 1440px) {
  main.main section.intro {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.intro {
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.intro {
    margin-bottom: 140px;
  }
}

main.main section.intro button.play-video {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: white;
  outline: none;
  border: none;
  position: absolute;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 991px) {
  main.main section.intro button.play-video {
    left: 110px;
    bottom: 30px;
  }
}

main.main section.intro button.play-video:active {
  border: 3px solid gray;
}

main.main section.intro button.play-video:active i {
  color: red;
}

main.main section.intro .container.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  main.main section.intro .container.main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main.main section.intro .container.main-container .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin-right: 20px;
}

@media screen and (max-width: 991px) {
  main.main section.intro .container.main-container .reviews {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

main.main section.intro .container.main-container .reviews .review {
  margin-top: 60px;
  text-align: left;
  line-height: 30px;
  font-style: italic;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1440px) {
  main.main section.intro .container.main-container .reviews .review {
    margin-top: 15px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.intro .container.main-container .reviews .review {
    margin-top: 20px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.intro .container.main-container .reviews .review {
    text-align: center;
  }
}

main.main section.intro .container.main-container .reviews .review p {
  color: #000;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  main.main section.intro .container.main-container .reviews .review p {
    margin: 0;
  }
}

main.main section.intro .container.main-container .reviews .review:before {
  content: "“";
  font-family: "Playfair Display";
  color: #e7e7e7;
  font-size: 100px;
  position: absolute;
  top: 28px;
  z-index: -1;
  left: -20px;
}

main.main section.intro .container.main-container .big-video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

main.main section.intro .container.main-container .big-video video {
  width: 100%;
}

@media screen and (max-width: 991px) {
  main.main section.intro .container.main-container .big-video {
    margin-bottom: 50px;
  }
}

main.main section.intro .container.main-container .big-video button.play-video {
  bottom: 70px;
  left: 70px;
}

@media screen and (max-width: 991px) {
  main.main section.intro .container.main-container .big-video button.play-video {
    left: 120px;
  }
}

main.main section.intro .container.main-container .small-video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
  main.main section.intro .container.main-container .small-video {
    margin-left: 0;
  }
}

@media screen and (max-width: 991px) {
  main.main section.intro .container.main-container .small-video .block-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  main.main section.intro .container.main-container .small-video .block-video {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 576px) {
  main.main section.intro .container.main-container .small-video .block-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.main section.intro .container.main-container .small-video .block-video .video {
  position: relative;
}

@media screen and (max-width: 767px) {
  main.main section.intro .container.main-container .small-video .block-video .video {
    text-align: center;
  }
}

main.main section.intro .container.main-container .small-video .block-video .video .play-video {
  left: 15px;
  bottom: 35px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  main.main section.intro .container.main-container .small-video .block-video .video .play-video {
    left: 35px;
  }
}

@media screen and (max-width: 576px) {
  main.main section.intro .container.main-container .small-video .block-video .video .play-video {
    left: 120px;
    bottom: 45px;
  }
}

main.main section.intro .container.main-container .small-video .block-video .video video {
  padding-top: 35px;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  main.main section.intro .container.main-container .small-video .block-video .video video {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  main.main section.intro .container.main-container .small-video .block-video .video video {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  main.main section.intro .container.main-container .small-video .block-video .video video {
    width: 100%;
    margin-bottom: 20px;
  }
}

main.main section.section-insructors {
  margin-bottom: 230px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-insructors {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-insructors {
    margin-bottom: 180px;
  }
}

main.main section.section-insructors .container.intsructors-container .instructors {
  padding: 0 190px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-insructors .container.intsructors-container .instructors {
    padding: 0 120px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-insructors .container.intsructors-container .instructors {
    padding: 0 90px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.section-insructors .container.intsructors-container .instructors {
    padding: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  main.main section.section-insructors .container.intsructors-container .instructors {
    padding: 0;
  }
}

main.main section.section-insructors .container.intsructors-container .instructors .block-title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.41px;
  padding-top: 0;
  margin-bottom: 90px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-insructors .container.intsructors-container .instructors .block-title {
    margin-bottom: 70px;
  }
}

main.main section.section-insructors .container.intsructors-container .instructors .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  margin-right: 90px;
}

@media screen and (max-width: 991px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card {
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card .photo {
  max-width: 290px;
  max-height: 350px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card .photo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card .photo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card .photo {
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
  }
}

main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card span.incstuctor-name {
  display: inline-block;
  color: #000000;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.28px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card span.incstuctor-name {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card span.incstuctor-name {
    margin-bottom: 10px;
  }
}

main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card p.count-students {
  display: inline-block;
  color: #4dc359;
  margin: 0;
}

main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card:last-child {
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  main.main section.section-insructors .container.intsructors-container .instructors .row .incructor-card:last-child {
    margin-bottom: 0;
  }
}

main.main section.section-blog {
  margin-bottom: 230px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog {
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog {
    margin-bottom: 180px;
  }
}

main.main section.section-blog .container.container-blog .blog {
  padding: 0 190px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog {
    padding: 0 120px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog {
    padding: 0 90px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog {
    padding: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  main.main section.section-blog .container.container-blog .blog {
    padding: 0;
  }
}

main.main section.section-blog .container.container-blog .blog .block-title {
  text-align: center;
  font-size: 50px;
  letter-spacing: 0.41px;
  padding-top: 0;
  margin-bottom: 90px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog .block-title {
    margin-bottom: 70px;
  }
}

main.main section.section-blog .container.container-blog .blog article {
  margin-bottom: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog article {
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog article {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
}

main.main section.section-blog .container.container-blog .blog article div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article .article-photo {
    margin-bottom: 20px;
  }
}

main.main section.section-blog .container.container-blog .blog article .article-content {
  padding-top: 50px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog article .article-content {
    padding-top: 20px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article .article-content {
    padding-top: 0px;
  }
}

main.main section.section-blog .container.container-blog .blog article .article-content .article-title {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 40px;
  font-style: italic;
  letter-spacing: 1.8px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog article .article-content .article-title {
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog article .article-content .article-title {
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog article .article-content .article-title {
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article .article-content .article-title {
    text-align: center;
  }
}

main.main section.section-blog .container.container-blog .blog article .article-content p {
  color: #444444;
  font-family: "Avenir - Roman";
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0.06px;
  margin: 0;
  margin-bottom: 60px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog article .article-content p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog article .article-content p {
    margin-bottom: 20px;
  }
}

main.main section.section-blog .container.container-blog .blog article .article-content button.read-more {
  padding: 20px 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog article .article-content button.read-more {
    padding: 10px 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog article .article-content button.read-more {
    padding: 10px 10px;
    font-size: 16px;
  }
}

main.main section.section-blog .container.container-blog .blog article.right-direction .article-content {
  padding-left: 75px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog article.right-direction .article-content {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog article.right-direction .article-content {
    padding-left: 60px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article.right-direction .article-content {
    padding-left: 0px;
  }
}

main.main section.section-blog .container.container-blog .blog article.right-direction .article-content p {
  padding-right: 45px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog article.right-direction .article-content p {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog article.right-direction .article-content p {
    padding-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article.right-direction .article-content p {
    padding-right: 0px;
  }
}

main.main section.section-blog .container.container-blog .blog article.left-direction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article.left-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.main section.section-blog .container.container-blog .blog article.left-direction .article-content {
  padding-right: 75px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-blog .container.container-blog .blog article.left-direction .article-content {
    padding-right: 40px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-blog .container.container-blog .blog article.left-direction .article-content {
    padding-right: 40px;
  }
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article.left-direction .article-content {
    padding-right: 0px;
  }
}

main.main section.section-blog .container.container-blog .blog article.left-direction .article-content p {
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  main.main section.section-blog .container.container-blog .blog article.left-direction .article-content p {
    padding-right: 0px;
  }
}

main.main section.section-blog .container.container-blog .blog article:last-child {
  margin-bottom: 0;
}

main.main section.section-cta {
  margin-bottom: 190px;
}

@media screen and (max-width: 1440px) {
  main.main section.section-cta {
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 1199px) {
  main.main section.section-cta {
    margin-bottom: 160px;
  }
}

main.main section.section-cta .container.cta-container .cta {
  padding: 0 190px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  main.main section.section-cta .container.cta-container .cta {
    padding: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  main.main section.section-cta .container.cta-container .cta {
    padding: 0;
  }
}

main.main section.section-cta .container.cta-container .cta .block-title {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.41px;
  margin-bottom: 80px;
}

@media screen and (max-width: 576px) {
  main.main section.section-cta .container.cta-container .cta .block-title {
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 50px;
  }
}

main.main section.section-cta .container.cta-container .cta .button-enrol {
  padding: 20px 45px;
  border: 1px solid #41475b;
  background-color: white;
  color: #000000;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 500;
}

main.main-scroll {
  padding-top: 60px;
}

footer.footer {
  padding-bottom: 40px;
  padding-top: 50px;
  border-top: 1px solid #f2ede1;
}

@media screen and (max-width: 576px) {
  footer.footer {
    padding-bottom: 20px;
    padding-top: 40px;
  }
}

footer.footer .container.footer-container .footer-content {
  padding-left: 135px;
  padding-right: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 991px) {
  footer.footer .container.footer-container .footer-content {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (max-width: 767px) {
  footer.footer .container.footer-container .footer-content {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  footer.footer .container.footer-container .footer-content .copyright-block {
    line-height: 20px;
  }
}

footer.footer .container.footer-container .footer-content .copyright-block span.copyright-name {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 400;
  line-height: 19.09px;
}

footer.footer .container.footer-container .footer-content .copyright-block span.copyright {
  color: #9f9f9f;
  font-family: "Avenir - Roman";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (max-width: 576px) {
  footer.footer .container.footer-container .footer-content .copyright-block span.copyright {
    line-height: 20px;
  }
}

footer.footer .container.footer-container .footer-content .designed p {
  margin: 0;
  color: #9f9f9f;
  font-family: "Avenir - Roman";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 576px) {
  footer.footer .container.footer-container .footer-content .designed p {
    line-height: 20px;
    text-align: end;
  }
}

footer.footer .container.footer-container .footer-content .designed p span {
  color: #000000;
  font-family: Avenir;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */